*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
}

.body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    height: 100%;
        
}


    

    
.header { 
    
    height: 58px;    
    background: rgba(0, 0, 0, 0.41);
    mix-blend-mode: normal;
    
    
    



}

.header-container {
    width: 1208px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
   
    
    
        
}


.header svg:hover path {
    fill: #236C47;
}
.header-h2 {
    width: 157px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    
    
    
}
.header-h2:hover {
    color: #236C47;
    cursor: context-menu;
   
}
.header-svg1 {
    
    margin-left: 704px;
}

.header-svg1:hover {
    fill: #236C47;
    
}

.header-svg2 {

    margin-left: 27px;
    
}
.header-svg3 {

    margin-left: 24px;
}

.header-line {
    width: 1px;
    height: 19px;
    background-color: #828282;
    margin-left: 25px;
    mix-blend-mode: normal;

   
}
 .header-line:hover {
    color: #262626;
 }
.header-text {
    width: 176px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 27px;
    box-sizing: border-box;
    text-align: center;
}
.header p:hover span {
    color: #236C47;
    cursor: context-menu;
    
    

}
.header-text:hover {
    cursor: context-menu;
    color: #969696;
}

.main-form {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
      

}
.input-form {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
}
.green-square-log {
    display: flex;
    align-items: center;
    margin-top: 29px;
}
.green-square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.registration {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-left: 43px;
    color: #434343;
}

.enter {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 216px;
}
.enter:hover {
    color: #01813F;
    text-decoration: underline 1px #01813F;
    cursor: context-menu;
}

.btn-top {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}
.btn-facebook {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    }
.btn-facebook:hover {
    background-color: #022263;
}   

.img-f {
    padding-left: 16px;

}

.btn-line-f {
    background-color: #2C56AB;
    width: 1px;
    height: 28px;
    margin-left: 19px;
}
.btn-text-f {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 18px;

}
.btn-google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    color: #FFFFFF;
    margin-left: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.btn-google:hover {
    background-color: #AB1F09;
}

.img-g {
    margin-left: 12px;
}

.btn-line-g {
    background-color: #cd442e;
    width: 1px;
    height: 28px;
    margin-left: 7px;
    
}

.btn-text-g {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 30px;
}
.line-or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

.line-before-or {
    width: 152px;
    height: 1px;
    background-color: #f2f2f2;
}
.text-or {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-left: 5px;

}
.line-after-or {
    width: 152px;
    height: 1px;
    background-color: #f2f2f2;
    margin-left: 2px;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin-top: 12px;
    position: relative;
}
.form input {
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #BEBEBE;
    margin-bottom: 15px;
    outline: none;
    
}

.form input:focus  {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;

}
::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form input[type=checkbox] {
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 11px;
    border: -3px;
    }

.checkbox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    
}
.form span {
    color: #3CB878;
    margin-left: 4px;
}
.form:hover span{
    color: #01813F;
}
.form input[type=button] {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    }



.form input[type=button]:hover {
    background-color:#01813F;
}

.form label {
    width: 324px;
    height: 20px;
    display: flex;
}



