body  {background-color: black;}
/*main class*/
.body-1 {
    background-color: red;
}
.main 
{background-color: white; height: 100%; width: 50%; margin: 0 auto; padding: 10px; position: relative;}
.main-1 {
    background-color: aquamarine
}
.span {strong;}