@import 'resets';
@mixin  flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.body{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.0001);
    position: relative;

    .burger-menu{
        width: 320px;
        height: 37px;
        
        
        position: relative;
    }

    
    #burger{
        display: none;
        position: absolute;
        margin-top: 23px;
        margin-left: 276px;
    }

    
     
        
    
    
    .top-menu{
        max-width: 813px;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

         div{
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 22px;
            @include flex-center;
            letter-spacing: 1.1px;
            text-transform: uppercase;        
            color: #4E4E4E;

            &:nth-child(1){
                color: #57A4A4;              
                
            }
    
    }
    }
    .menu-burger{
        width: 182px;
        height: 208px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #F5F5F5;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        align-items: center;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #4E4E4E;
        padding-top: 0;
        margin-top: 22px;
        margin-left: 163px;        
        align-items: flex-start;
        justify-content: space-evenly;
        div{
        padding-left: 12px;
        width: 100%;

        }
        & div:hover{
            background-color: #E5E5E5;            
            margin-left: 0;
            cursor: context-menu;

        }

    }

    .active{
        display: none;
    }
    

    .header{
        
       
        margin-top: 51px;
    }
    .section-1{
        
        h2{
            font-style: normal;
            font-weight: 700;
            margin-top: 66px;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-transform: uppercase;            
            color: #4E4E4E;
        }
        .content{
            margin-top: 24px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 39px;
            padding-bottom: 69px;

            .item{
                display: flex;
                div{
                    display: flex;
                    flex-direction: column;
                    margin-left: 21px;
                    max-width: 404px;
                    h2{
                        margin-top: 0;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 30px;
                        display: flex;
                        align-items: center;                        
                        color: #4E4E4E;
                    }
                    p:nth-child(1){
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;                                               
                        display: flex;
                        color: #7C7C7C;
                    }
                    p:nth-child(2){
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        margin-top: 13px;                           
                        display: flex;
                        align-items: center;                        
                        color: #5C5C5C;
                    }
                }
               

            }
        }
    }
    .section-2{
        background-color: #F7F7F7;
        max-width: 100vw;
        div:nth-child(1){
            display: flex;
            justify-content: space-between;
            padding-top: 47px;
            h2{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;                   
                display: flex;
                align-items: center;
                text-transform: uppercase;                
                color: #4E4E4E;
            }
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-transform: uppercase;                
                color: #4E4E4E;
            }

        }
        div:nth-child(2){
            display: flex;
            padding-top: 24px;
            padding-bottom: 49px;
            gap: 10px;
           


        }
        
    }
    .footer{
        max-width: 100vw;
        background-color: #000000;
        padding-bottom: 70px;

        h2{
            max-width: 224px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;                
            display: flex;
            align-items: center;
            text-transform: uppercase;            
            color: #FEFEFE;
            margin: 0 auto;
            padding-top: 66px;
            justify-content: center;
        }
        p {
            max-width: 684px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;               
            display: flex;
            align-items: center;
            text-align: center;            
            color: #B9B9B9;
            padding-top: 22px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        div{
            max-width: 192px;
            margin: 0 auto;
            padding-top: 37px;
        }

    }   
}

@media screen and (max-width: 940px) {
    .container{
        max-width: 768px;}

    .body .top-menu{
        max-width: 612px;}
    .body .header{
        margin-top: 43px;
    }    

    .body .section-1{
        h2{margin-top: 56px;}
        .content{
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        
        }
         
        
    }        
    .body .section-2{
         div #car{
            display: none;                   
         }         

         div:nth-child(2){
            max-width: 768px;
            padding-bottom: 42px;
        }
        div:nth-child(2) img{
            max-width: 249px;
        }
    } 
           
    
    .body .footer{
        padding-bottom: 56px;
        h2{
            padding-top: 57px;
        }
    }   
    }


@media screen and (max-width: 370px) {
    .container {
        max-width: 320px;
    }

 
    .body #burger{
            display: block
            
        }
    
    .body .top-menu{
        display: none;
    }

    .body .header {
        margin-top: 43px;
    }

    .body .section-1 {
        padding-bottom: 42px;
        h2 {
            margin-top: 38px;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding-bottom: 0;
            
            .item{
                flex-direction: column;
                }
            img{
                width: 160px;
                height: 140px;
                margin-top: 0px;
            }
            .item div{
                margin-left: 0;
                h2{
                    font-size: 14px;
                }
            }
            .item div:nth-child(2){
                margin-top: 11px;
                p:nth-child(2n) {
                    margin-top: 0;
                    }
                p:nth-child(3n){
                    display: none;                    
                }
                
                
            }
                    
            }
        #flowers{
            display: none;
        }
        
        }

      

    
   
    .body .section-2 {
        background-color: rgba(0, 0, 0, 0.0001);
        
        div:nth-child(1){
            padding-top: 35px;
            h2{
            font-size: 14px;}
                    
            h3{
            display: none;
        }
        }
        div #car, #abstraction, #wey{
            display: none;
        }

        div:nth-child(2) {
            max-width: 320px;
            padding-bottom: 42px;
            padding-top: 13px;
        }

        div:nth-child(2) img {
            max-width: 301px;
        }
    }


    .body .footer {
                  
        padding-bottom: 47px;

        h2 {
            padding-top: 38px;
            font-size: 14px;
        }
        .footer-p-1{         
                 font-size: 12px;
                 padding-top: 8px;
                 max-width: 303px;
            
        }
        div{
            padding-top: 28px;
        }
        .footer-p-2{         
                 font-size: 14px;
                 padding-top: 25px;
                 max-width: 235px;
                 
            
        }
        
    }
       
}
