* {
    margin: 0 auto;
    box-sizing: border-box;
font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;}
.body {
    width: 100vmax;
    height: 100%;
    margin: 0 auto;

}
.header{
   
width: 100%;
height: 1012px;
background-image: url(./img/Sections-background/section-1.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
filter: opacity(80%);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border-bottom: solid 8px #FFFFFF;
background-attachment: fixed;

}

.nav{
    height: 120px;
    width: 100%;
        background: rgba(0, 0, 0, 0.41);
        mix-blend-mode: normal;
}

.nav-container{
    width: 1160px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        padding-left: 0px;
        position: relative;
}
.logo {
    width: 233.05px;
        height: 100%;
         display: flex;
        align-items: center;
        justify-items: center;
        text-decoration: none;       
       
        
}

.hover-svg{
    margin: 0;
}


.logo-h {
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 31px;
fill: solid;
width: 31px;
height: 31px;
color: #FFFFFF;
background-size: 100% 100%;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
margin-left: 15px;
padding: 0;
position: absolute;





}

.logo-text {
font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 48px;
    width: 134px;
    height: 46px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 6px;
    padding: 0;
}

.logo-span {
font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    width: 134px;
    height: 46px;
    color: #18CFAB;
}
.nav-menu {
    width: 614.8px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}

.nav-menu a {
    text-decoration: none;
}
.nav-menu a:hover {
    color: #18CFAB;
    border-bottom: solid #18CFAB;
    line-height: 117px;
    cursor: context-menu;
    text-decoration: none;
    
}
.nav-menu-item {
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
}

.header-text1 {
    width: 637px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 264px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
 .header-span2 {
    color: #18CFAB;
 }
 .header-text2 {
    width: 798px;
    height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 22px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

 }
 .header-text3 {
    width: 795px;
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;          
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #D4D4D4;
    margin-top: 22px;
    margin-bottom: 0;
 }

 .svg-search{
    margin-left: 22px;
 }

 .header-div-btn {
width: 362px;
margin-top: 134px;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;

 }

 .header-btn-1 {
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;    
    color: #FFFFFF;
    box-shadow: 0 -5px 0px 0px rgb(250, 250, 250);;
 }
 
 .header-btn-2 {
     width: 169px;
     height: 63px;
     background-color: #00CBF6;
     border-radius: 5px;
     border: 0px;
     font-style: normal;
     font-weight: 700;
     font-size: 15px;
     line-height: 32px;
     display: flex;
     align-items: center;
     text-align: center;
     text-transform: uppercase;
     justify-content: center;
     color: #FFFFFF;
     box-shadow: 0 -5px 0px 0px rgb(250, 250, 250);
     ;
 }

 .section-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
   
    height: 377px;
 }

 .sectoin-1-item-1 {
    width: 480px;
   
    background-color: #1C2A33;
    display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        flex-direction: column;
 }

 .sectoin-1-item-2 {
    width: 480px;
    display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        flex-direction: column;
          
    background-color: #18CFAB;
 }

 .sectoin-1-item-3 {
    width: 480px;
  
    background-color: #1C2A33;
 }

 .sectoin-1-item-4 {
    width: 480px;
    background-color: #18CFAB;
}

.section-1-p-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;  
    text-transform: uppercase;    
    color: #18CFAB;
    margin-top: 47px;
}

.section-1-p-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin-top: 58px;
}

.section-2 {
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
 
    
    
}

.section-2-h-2{
    width: 254px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 90px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;    
    color: #4E4E4E;
}


.section-2-line-flex{
    width: 91px;
    height: 2px;
    margin-top: 26px;
   
}

.section-2-line-1 {
    
    width: 75px;
    height: 1px;
    margin-left: 0;
    background-color: #18CFAB;
    

}


.section-2-line-2 {
    margin-top: 3px;
    width: 75px;
    height: 1px;
    margin-right: 0;
    background-color: #18CFAB;;
}

.section-2-menu{
 
    height: 72px;
    margin-top: 69px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    position: relative;

}

.section-2-item{
    width: 195px;
    height: 72px;   
    font-style: normal;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;       
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #717171;
    background-color: #F8FCFE;
    cursor: context-menu;
}

.section-2-content {
    width: 1170px;
    height: 139px;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    cursor: context-menu;
    display: none;
    margin-bottom: 91px;

}
.active-content {
display: flex;
    flex-direction: row;
}
.section-2-text {
    width: 952px;
    height: 136px;
    margin: 0px 0px 0px 15px;


    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 24px;     
    color: #000000;
}


.section-2-item:focus {
    color: #FFFFFF;
    background-color:  #18CFAB;
}



.section-2-item:focus::after {
    content: url(./img/our-servise/rectangle.png);
    position: absolute;
    margin-top: 85px;
}




.section-2-menu li:hover {
    border: 1.5px solid #18CFAB;
}




.section-2-item-focus {
    color: #FFFFFF;
    background-color: #18CFAB;
}
.section-2-item-focus::after{
    content: url(./img/our-servise/rectangle.png);
        position: absolute;
        margin-top: 85px;
}

.section-3 {
    width: 100%;
    height: 476px;
    background: url(./img/Sections-background/section-2.jpg) no-repeat center; 
   
    background-size: 100% 200%;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    align-content: center;
    position: relative;
    
}

.section-3:after {
    position: absolute;
    content: '';
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 2;
}

.section-3-h1 {
  
    width: 1143.34px;
    height: 40px;
    font-style: normal;
    margin-top: 126.78px;
    margin-bottom: 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        /* or 101% */
    
        
        text-align: center;
        text-transform: uppercase;
    
        color: #18CFAB;
        z-index: 3;
      
   
}

.section-3-h3 {
    width: 852px;
    height: 40px;
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 12.22px;
        margin-bottom: 0px;
    
        color: #D8D8D8;
        z-index: 3;
}

.section-3-btn {
    width: 169px;
        height: 63px;
        background-color: #18CFAB;
        border-radius: 5px;
        border: 0px;
        margin-top: 67px;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        color: #FFFFFF;
        box-shadow: 0 -5px 0px 0px rgb(250, 250, 250);
        z-index: 3;;
}
.section-4 {
               width: 100%;
               display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                align-content: center;
            background-color: #E9EDEF;;
            
    
        }

.section-4-h-2 {
    width: 376px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 96px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #4E4E4E;
}

.section-4-line-flex {
    width: 91px;
    height: 2px;
    margin-top: 20px;
    
}

.section-4-line-1 {

    width: 75px;
    height: 1px;
    margin-left: 0;
    background-color: #18CFAB;


}


.section-4-line-2 {
    margin-top: 3px;
    width: 75px;
    height: 1px;
    margin-right: 0;
    background-color: #18CFAB;
    ;
}
    
.section-4-menu {
     height: 58px;
    margin-top: 69px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;


}

.section-4-item {
     height: 58px;
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
   
    color: #717171;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #717171;
background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    cursor: context-menu;
}

.section-4-menu li:focus {
    color: #18CFAB;;
        border: 2px solid #18CFAB;

        line-height: 117px;
        cursor: context-menu;
}

.section-4-item-focus {
    color: #18CFAB;
    border: 2px solid #18CFAB;

    line-height: 117px;
    cursor: context-menu;
}



.section-4-svg:hover{
    cursor: context-menu;

    border-top: solid#18CFAB;
    display: block;
}

.section-4-content {
    max-width: 1140px;
    height: 618px;
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    gap: 0;
    border: o;
}

.section-4-content-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;        
    gap: 0;
}

.section-4-svg {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 285px;
    height: 206px;
    display: none;
}

.section-4-svg-div{
    margin-top: 45px;
}

.section-4-svg-h3{
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;    
    color: #18CFAB;
    margin-top: 30px;
    text-align: center;
}
.section-4-svg-h4{
    font-style: normal;
        font-weight: 300;
        font-size: 12.1518px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #8A8A8A;
}

.section-4-change-img{
    width: 285px;
    height: 206px;
    
}


.section-4-change-img:hover .change-photo1 {
    display: none;
}

.section-4-change-img:hover .change-photo2 {
    display: block;
}

.change-photos:hover {
    cursor: pointer;
}


.display-none{
    display: none;
}

.section-4-img-else{
    width: 1140px;
    height: 618px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    padding-top: 0;
    padding-bottom: 232px;
    display: none;
    margin-bottom: 99px;

    
}

.section-4-btn {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;
    border: 0px;
    margin-top: 67px;
    margin-bottom: 99px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    color: #FFFFFF;
    
}
.section-4-btn-text{
    margin-left: 15px;
}

.section-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #FFFFFF;

    

}

.section-5-h-2 {
    width: 376px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 82px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #4E4E4E;
}

.section-5-line-flex {
    width: 91px;
    height: 2px;
    margin-top: 24px;
    
}

.section-5-line-1 {

    width: 75px;
    height: 1px;
    margin-left: 0;
    background-color: #18CFAB;


}


.section-5-line-2 {
    margin-top: 3px;
    width: 75px;
    height: 1px;
    margin-right: 0;
    background-color: #18CFAB;
}

.section-5-grid {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 35px;
    column-gap: 44px;
    margin-top: 68px;

    padding-bottom: 128.81px;
}

.section-5-grid-item{
    width: 265px;
    height: 281px;
    
    
    

}

.section-5-img{
    width: 263px;
    height: 208px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
   position: relative;
    align-content: flex-end;

   }

.item-1 {
    background-image: url('./img/breaking-news/Layer\ 47.png');
}

.item-2 {
    background-image: url('./img/breaking-news/Layer\ 50.png');
}

.item-3 {
    background-image: url('./img/breaking-news/Layer\ 51.png');
}

.item-4 {
    background-image: url('./img/breaking-news/Layer\ 52.png');
    }
.item-5 {
    background-image: url('./img/breaking-news/Layer\ 53.png');

}

.item-6 {
    background-image: url('./img/breaking-news/Layer\ 54.png');
}

.item-7 {
    background-image: url('./img/breaking-news/Layer\ 55.png');
}
.item-8 {
    background-image: url('./img/breaking-news/Layer\ 56.png');
}

.section-5-img-div1{
    width: 70px;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    
    background-color: #203E38;
    position: absolute;
    margin-right: 0;

 
   
}

.section-5-img-div-p{
font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;    
    color: #FFFFFF;
    justify-items: flex-end;
    }

.section-5-grid-item-h3{
    
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;    
    display: flex;
    align-items: center;
    text-align: center;    
    color: #717171;
    padding-left: 20px;
}

.section-5-grid-item-div2{
font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #777777;
    margin-left: 20px;
}
.section-5-grid-item:hover div{
    background-color: #18CFAB;
    cursor: context-menu;
}

.section-5-grid-item:hover h3 {
    color: #18CFAB;
    cursor: context-menu;
}

.section-5-grid-item-div2:hover{
    cursor: context-menu;
}

.section-6 {
    width: 100%;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    align-content: center;
    background-image: url("./img/Sections-background/section-3.jpg");
    
    background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;

}

.section-6:after {
    position: absolute;
    content: '';

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.section-6-h-2 {
    width: 613px;
    height: 40px;
    font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        
    
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 98px;
    
        color: #FFFFFF;
        z-index: 3;
        
        
}

.section-6-line-flex {
    width: 91px;
    height: 2px;
    margin-top: 25px;
    z-index: 3;
   
}

.section-6-line-1 {

    width: 75px;
    height: 1px;
    margin-left: 0;
    background-color: #18CFAB;


}


.section-6-line-2 {
    margin-top: 3px;
    width: 75px;
    height: 1px;
    margin-right: 0;
    background-color: #18CFAB;
}

.section-6-svg{
    width: 47px;
    height: 33px;
    margin-top: 66px;
    z-index: 3;
}

.section-6-content-change{
    margin-top: 36px;
    z-index: 3;

}

.section-6-content-change-p{
    width: 1160px;
    height: 45px;
    font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
         display: flex;
        align-items: center;
        text-align: center;
    
        color: #BBBBBB;
        z-index: 3;
}

.section-6-content-change-h3{    
   
    font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 27px;
         display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #BBBBBB;
        flex-direction: column;
        margin-top: 37px;
        gap: 0;
        z-index: 3;
}

.section-6-content-change-span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    z-index: 3;
}

.section-6-content-change-div{
    margin-top: 38px;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 218, 181, 0.2);;
    mix-blend-mode: normal;
    z-index: 3;
}

.section-6-content-change-img{
    width: 143px;
    height: 142px;
    border-radius: 50%;    
    z-index: 3;
}

.section-6-carusel-div{
    margin-top: 51px;
    padding-right: 0;
    padding-left: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-bottom: 99px;
    z-index: 3;      
        
    }





.section-6-btn-next, .section-6-btn-prev{
    width: 31px;
    height: 31px;
    background: none;
    border: solid 1px #BBBBBB;
    z-index: 3;
      
}


.section-6-btn-next:hover {
    width: 33px;
    height: 34px;
    background-color: #18CFAB;
    fill: white;}

 


.section-6-btn-prev:hover {
    width: 33px;
    height: 34px;
    background-color: #18CFAB;
    fill: white;
}

.section-6-btn-next:hover path{
    fill: white;
}

.section-6-btn-prev:hover path {
    fill: white;
}



.section-6-slider-div{
    width: 388px;
    height: 100px;
    overflow: hidden;
    z-index: 3;
}

.section-6-carusel-ul{
     padding-inline-start: 0;   
width: 776px;
height: 100px;    
    display: flex;
    position: relative;
   
    left: 0;
    transition: all ease 1s;
    list-style-type: none;
    justify-items: center;
    align-items: center;
    z-index: 3;
}

.section-6-carusel-li{
 

    width: 70px;
    height: 70px;

    display: flex;
    border-radius: 50%;
    justify-content: center;
        align-items: center;
        background-color: rgba(31, 218, 181, 0.2);
        
        mix-blend-mode: normal;
    z-index: 3;
}

.slide-max{
    margin-bottom: 40px;

}

.section-6-carusel-img{
 
width: 59px;
    height: 59px;
    border-radius: 50%;
}


.footer {
    width: 100%;
    height: 121px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;    
    align-content: center;
    background-color: #22353F;
        
}

