
.body {
      background-color: #171717;
      margin: 0 auto;
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
   

} 


.container1 {        
        padding-top: 37px;
        padding-bottom: 191px;
    }

.header-flex {
        width: 1460px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        box-sizing: border-box; 
        
    }
.logo-img {
        width: 216px;
        height: 33px;
            }
.btn1 {
        width: 218px;
        height: 50px;
        color: #E4B564;
        background-color: #171717;
        border: 2px solid #E4B564;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
           }
.section1 {
    width: 1460px;
    margin: 0 auto;
}           
.section1-h2 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 128px;
}
.section1-p {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
}
.section1-grid {
    width: 1460px;
    height: 963px;
    display: grid;    
    grid-template-columns: repeat(6, 1fr);
    margin-top: 41px;
    padding: 0;
    gap: 1vw;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    list-style-type: none;
               
}

.section1-grid-item1 {
    grid-area: item1;
     background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
        }

.section1-grid-item2 {
    grid-area: item2;
    background-color: #B4A385;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }
.section1-grid-item3 {
    grid-area: item3;
    background-color: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.section1-grid-item4 {
    grid-area: item4;
    background-color: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.section1-grid-item5 {
    grid-area: item5;
    background-color: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }

.item-link {
    text-decoration: none;
             }

.text-decoration {
    color: white;
    text-decoration: none;
 
}
.section2 {
    width: 1460px;
    margin: 0 auto;
    background-color: #171717;
}
.section2-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 161px;}

.section2-flex {
    display: flex;
    width: 1460px;
    height: 897px;
    list-style-type: none;
    flex-wrap:wrap;
    margin-top: 94px;
    padding: 0;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
        
   

}
.section2-flex-item1 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 0 0 52px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}

.section2-flex-item2 {
    width: 467px;
    height: 560px;
    background-color: #1F1F1F;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 56px 0 0 52px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;

}
.section2-flex-item3 {
    width: 467px;
    height: 439px;
    background-color: #242424;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 0 0 51px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}

.section2-flex-item4 {
    width: 467px;
    height: 405px;
    background-color: #E4B564;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 47px 0 0 52px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}
.section2-flex-item5 {
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 0 0 48px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}


.section2-flex-item6 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 0 0 48px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;

}
.section2-flex-item7 {
    width: 467px;
    height: 277px;
    background-color: #0A0909;
    justify-items: flex-end;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 56px 0 0 52px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: context-menu;
}
.item-link:hover {
    cursor: context-menu;
    border: 1px solid blue;
    text-decoration: none;
}
    

.text-decoration:hover {
    text-decoration: underline 2px blue;
    cursor: context-menu;
    box-sizing: border-box;

}

.container2 {
background-color: #0E0E0E;
padding-top: 161px;
margin-bottom: 239px;
}
.section3 {
    width: 1460px;
    margin: 0 auto;
      
    }

.section3-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
   }

.section3-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.btn2 {
    width: 180px;
    height: 50px;
    color: #E4B564;
    background-color: #171717;
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.section3-flex2 {
    display:grid;
    margin-top: 61px;
    width: 1460px;
    height: 782px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.section3-flex2-item1 {
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
}
.section3-flex2-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(232, 210, 171, 0.76);
    color: white;
    text-decoration: none;
    font-weight: 100px;
    font-size: 22px;
    line-height: 28px;
    cursor: context-menu;
}
.section3-flex2-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
    cursor: context-menu;
}
.section3-flex2-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;
    cursor: context-menu;
}
.section3-flex2-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;
    cursor: context-menu;
}
.section3-flex2-item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
    cursor: context-menu;
}
.section3-flex2-item2-p {
    margin-top: 16px;
}
.border-svg:hover {
    stroke: blue;
    text-decoration: none;
    margin-right: 10px;
}
.btn-decoration:hover {
    text-decoration: underline 2px blue;
}
