* {margin: 
    0 auto; padding: 0;
    border: 0;
}
.body { 
    width: 1280px;  
    margin: 0 auto; background-color: #E5E5E5;
}
.header { 
    width: 1280px;
    height: 78px;
    background-color: white;
    font-family: "Montserrat";
font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;}
    
.flex-container {display: flex;
     align-items: center;
    justify-content: center;
    background-color: white;    
    list-style-type:none;
    height: 78px;
    padding: 0px; margin: 0px;;
   
}
.box {
   
    color: #FF0000;
    background-color: white;}

.box-1 { width: 68px;
        height: 27px;
        padding-right: 72px;
        color: #FF0000;
        }

.box-2 {align-items: center;
        width: 131px;
        height: 27px;
        padding-right: 72px;
            }

.box-3 {align-items: center;
        width: 87px;
        height: 27px;
        padding-right: 50px;
            }

.box-4 {align-items: center;
        width: 140px;
        height: 27px;
    }
    .link-blank {
        color: #FF0000;
        text-decoration: none;
        cursor: context-menu;
    }
    .link {
        color: #FF0000;
    text-decoration: none;
cursor: context-menu;}
                
    a:hover {
            text-decoration: underline;
            text-decoration-color: blue;
    }
    .main {
width: 1280px;
background-color: white;
    }
    .image {
        width: 1280px;
        height: 789px;
        
    }
    
    .main-d {
       height: 115px;
       display: flex;
       justify-content: center;
       align-items: center;
               
    }
    .main-d-h2 {width: 774px;
    height: 29px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        
        letter-spacing: 3.3px;
        text-transform: uppercase;
        
        }
.main-p {
    width: 1145px;    
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;        
        text-align: center;
        letter-spacing: 2.4px;    
}
.text-1 {height: 132px; margin-top: 38px;}
.text-2 {height: 216px; margin-top: 28px;}
.btn { margin: 0 auto;
    display: block;
    margin-top: 66px;
        width: 191px;
        height: 51px;
        left: 544.5px;
        top: 557px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
    color: white;
        background: #FF0000;
        border-radius: 4px;
}
    .footer {display: flex;
        justify-content: flex-end;
        background-color: white;
    }
.footer-text {margin-top: 82px;
    margin-bottom: 29px;
    margin-left: 713px;    
    width: 462px;
    height: 39px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 2.4px;
}
.link-btn {
    color: white;
    text-decoration: none;
    cursor: context-menu;
}
.link-footer {
    color: black;
    text-decoration: none;
        cursor: context-menu;
    }