*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    background-color: gray;
    
}

ul{
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
li{
    margin: 0 auto;
    color: white;
    background-color: black;
    width: 70%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    
   

}

h2, h3, p, div {
    margin-top: 20px;
    margin-left: 40px;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    }
