* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.body {
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    }

.container {
    width: 1023px;
    height: 100vh;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 61px;
    text-decoration: none;
    margin-top: 46px;
    margin-bottom: 17px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content:space-between;
    justify-items: center;
}
.header-logo {
    height: 47px;
    display: flex;
    align-items: center;    
    gap: 8px;
    position: relative;

    }
.logo-img2 {
display: none;
position: absolute;
}


.header-logo:hover img {
display: block;
}

.svg-image:hover {
color: #F26522;
    cursor: context-menu;
}


    .header-h2 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    line-height: 29px;
    
}

.header-h2-span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    
}
.header-logo:hover h2 {
    color: #F26522;
        cursor: context-menu;
}


.header-contacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-content: center;
    justify-items: center;
}
.header-p1 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    }


    
.header-p2 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: end;}

.header-p1:hover {
    color: #F26522;
    cursor: context-menu;
}

.header-p2:hover {
    color: #F26522;
    cursor: context-menu;}


.main-grid {
    display: grid;
    box-sizing: border-box;
       
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content:space-between;
    justify-items: center;
    row-gap: 37px;
    column-gap: 61px;
    
}
.main-grid-item {
    width: 300px;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
           
}
.main-img1 {
    background-image: url(../img/image.png);
width: 300px;
height: 220px;
display: flex;
align-items: flex-end;
}



.main-img2 {
    background-image: url(../img/image1.png);
    width: 300px;
    height: 220px;
    display: flex;
    align-items: flex-end;}

.main-img3 {
    background-image: url(../img/image3.png);
    width: 300px;
    height: 220px;
    display: flex;
    align-items: flex-end;}

.main-img4 {
    background-image: url(../img/image2.png);
    width: 300px;
    height: 220px;
    display: flex;
    align-items: flex-end;}

.main-img5 {
    background-image: url(../img/image4.png);
    width: 300px;
    height: 220px;
    display: flex;
    align-items: flex-end;}

.main-img6 {
    background-image: url(../img/image6.png);
    width: 300px;
    height: 220px;
    display: flex;
    align-items: flex-end;}



.main-text {
    height: 21px;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
       
}

.footer {
    display: flex;
    height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    justify-content: center;
    align-items: center;        
    margin-top: 49px;
}
.main-item-price {
    display: none;
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    background-color: #F26522;
    
}

.main-item-price:hover {
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    background-color: #F26522;
    ;
}
.main-item-price :first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    margin-top: 7px;
    margin-left: 16px;
}
.main-item-price :nth-child(2) {
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 29px;
    margin-left: 16px;
    position: absolute;
}
.main-item-price :nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    margin-left: 180px;
    padding-right: 16px;
    position: absolute;
        }
.main-item-price :nth-child(3)::after {
    content: ">";
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.main-grid-item:hover h4{
    color: #F26522;
   }        

.main-grid-item:hover div {
    display:flex;
            
}
